[submodule "frontend"]
	path = frontend
	url = https://github.com/Suhas-GT/frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/Suhas-GT/backend.git
	branch = main
